.board_section {
    display:flex;
    justify-content: center;
    padding: 10px;
}

.textMiddle {
    vertical-align: middle;
}

.table {
    table-layout: fixed;
    max-width: 900px;
    vertical-align: middle;
}

.table_border {
    border: 1px solid black;
    border-radius: 10px;
}

.board_image {
    width: 160px;
    height: 50px;
    object-fit: cover;
    
}

.board_image:hover {
    /* opacity: 0.5; */
    cursor: pointer;
    border: 3px solid black;
}

.board_tr {
    display: flex;
    padding: 8px 8px 0 8px;
}

.board_col1 {
    flex: 1 0 20%;
}

.board_col2 {
    flex: 1 0 50%;
    padding: 10px;
}

.board_col3 {
    flex: 1 0 20%;
    padding: 10px;
}

.board_col4 {
    flex: 1 0 10%;
    padding: 10px;
}   

.board_col2,
.board_col3,
.board_col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board_col2:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}

.image_size {
    max-height: 90vh;
    max-width: 80vw;
}

/* Bullet Section */

.bulletin_section {
    display:flex;
    justify-content: center;
    padding: 10px;
}

.bulletin_wrapper {
    display:flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    max-width: 900px;
}

.bulletin_pagination {
    padding: 10px 0;
}

.bulletin_col1 {
    flex: 1 0 15%;
    padding: 10px;
}

.bulletin_col2 {
    flex: 1 0 55%;
    padding: 10px;
}


.bulletin_col3 {
    flex: 1 0 20%;
    padding: 10px;
}

.bulletin_col4 {
    flex: 1 0 10%;
    padding: 10px;
}   

.bulletin_col2,
.bulletin_col3,
.bulletin_col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bulletin_col2:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 835px) {
    .board_col1,
    .board_col2{
        flex: 1 0 30%;
    }
    
    .board_col3{
        flex: 1 0 20%;
    }
    .board_col4 {
        flex: 1 0 15%;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .bulletin_col1 {
        flex: 1 0 15%;
    }

    .bulletin_col2{
        flex: 1 0 50%;
    }
    
    .bulletin_col3{
        flex: 1 0 20%;
    }
    .bulletin_col4 {
        flex: 1 0 15%;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 614px) {
    
    .bulletin_col1 {
        flex: 1 0 15%;
    }

    .bulletin_col2{
        flex: 1 0 40%;
    }
    
    .bulletin_col3{
        flex: 1 0 30%;
    }
    .bulletin_col4 {
        flex: 1 0 15%;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 531px) {
    .board_image{
        width: 70px;
    }
    .board_col1 {
        flex: 1 0 13%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    

    .board_col2{
        flex: 1 0 25%;
    }
    .board_col3 {
        flex: 1 0 20%;
    }
    .board_col4 {
        flex: 1 0 10%;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .bulletin_col1 {
        flex: 1 0 7%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding-right: 0;
    }
    .bulletin_col2 {
        flex: 1 0 35%;
    }

    .bulletin_col3 {
        flex: 1 0 20%;
        padding: 0;
    }

    .bulletin_col4 {
        flex: 1 0 10%;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}