.footer-style {
    bottom: 0;
    width: 100%;
    background-color: rgb(49, 65, 71);
    display: flex;
    justify-content: space-around;
    color: white;
    height: 120px; 
}

.copywrite {
    font-size: 13px;
    align-self: center;
}

.logo-dark {
    width: 60%;
}

@media screen and (max-width: 770px) {
    .logo-dark{
        width: 80%;
    }
    .copywrite {
        font-size: 10px;
    }
}
.footer-logo-position {
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-group {
    display: flex;
}