.footer-style {
    bottom: 0;
    width: 100%;
    background-color: rgb(49, 65, 71);
    display: flex;
    justify-content: center;
    color: white;
    height: 100%;
}

.copywrite {
    font-size: 13px;
    align-self: center;
}

.logo-dark {
    width: 60%;
}


.footer-logo {
    width: 80%;
    
}

.footer-group {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content:space-between;
    padding: 40px 10px 40px 10px;
}

.footer-section {
    width: 45%;
    padding: 15px;
}

.footer-input,
.footer-message {
    width: 100%;
    background-color: rgb(49, 65, 71);
    padding: 5px;
    border: 1px solid white;
    outline: none;
    text-indent: 10px;
}

.footer-message {
    resize: none;
    height: 150px;
}


.footer-input:focus,
.footer-input:hover,
.footer-message:focus,
.footer-message:hover {
    border: 3px solid rgb(173, 173, 173);
}

.footer-question {
    display: flex;
    flex-direction: column;
}

.footer-button-to-right {
    justify-content: flex-end;
    display: flex;
}

.footer-button {
    padding: 0 20px 0 20px;
    margin-top: 10px;
    background-color: rgb(49, 65, 71);
    border: 1px solid white;
    color: white;
}

.footer-button:hover {
    background-color:darkcyan;
}

.email_link {
    color: white;
}

@media screen and (max-width: 770px) {
    .logo-dark{
        width: 80%;
    }
    .copywrite {
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .logo-dark{
        width: 100%;
    }
    .logo-wrap {
        display: flex;
        justify-content: center;
    }

    .footer-section{
        width: 100%;
    }
    .footer-group{
        flex-direction: column;
    }
}