.globalMissionTitle {
    font-weight: bolder !important;
    width: 100%;
    text-align: center;
}

.globalMissionName {
    width: 300px;
    font-size: 1.2rem !important;
}

@media screen and (max-width: 550px) {
    .globalMissionName {
        width: 100%;
    }
    
}