
.history_article {
    display: flex;
}

.history_article_date {
    display: flex;
    justify-content: flex-end;
    width: 12%;
}

p {
    margin: 2px 0;
}

.history_article_description {
    width: 100%;
}

.history_article_description p {
    margin-left: 30px;
}

.history_buttons_section {
    display: flex;
    justify-content: space-evenly;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.history_buttons {
    padding: 10px;
    color: white;
    border-radius: 15px;
    border: none;
    width: 175px;
    font-size: 1.2rem;
    background-color: rgb(134, 151, 151);
}