.mission_group_section {
    display: flex;
    justify-content: center;
}

table {
    table-layout: fixed;
    max-width: 900px;
}

.table_top_section {
    display: flex;
    justify-content: center;
    box-shadow: none;
}

.positionBackground {
    background-color: lightgreen;
}

.positionName {
    font-weight: bolder;
}

.groupName {
    font-weight: bolder;
    padding: 16px;
    border-right: 1px solid rgba(224, 224, 224, 1);
}

hr {
    max-width: 700px;
    margin: 10px auto;
}