.mission_group_section {
    display: flex;
    justify-content: center;
}

table {
    table-layout: fixed;
    max-width: 900px;
}

.table_top_section {
    display: flex;
    justify-content: center;
    max-width: 900px;
}

.positionBackground {
    background-color: lightgreen;
}

.positionName {
    font-weight: bolder;
    width: 100%;
}

.names {
    width: 100%;
}

.missionName {
    width: 170px;
    font-size: 1.2rem;
}

.groupName {
    font-weight: bolder;
    padding: 16px;
    border-right: 1px solid rgba(224, 224, 224, 1);
    width: 100%;
}

hr {
    max-width: 700px;
    margin: 10px auto;
}

@media screen and (max-width: 420px) {
    .missionName {
        width: 100px;
    }

    .names {
        padding: 0;
    }

    .positionName {
        padding: 16px 0 16px 2px;
    }

    .groupName {
        padding: 16px 10px 16px 10px;
    }
}