.background{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.sliderimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
}

.navbar-toggler-icon {
    transition: transform 0.3s ease-in-out;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

.navbar-collapse {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    justify-content: flex-end;   
}

.navbar-collapse.show {
    max-height: 300px; /* Adjust as needed */
}

.nav-item{
    color: #000000;
    transition: ease-in-out 0.3s;
}

.nav-item:hover{
    .nav-link{
        color: white;
    }
    background-color: #000000;
    transition: ease-in-out 0.3s;
}

hr{
    background-color: #000000;
    height: 1px;
    border: none;
    margin: 0;
}

.dropdowns:hover .menus {
    display: block;
    margin-top: 0; 
}

.drop-to-left{
    right: 0;
    left:auto;
}
@media (max-width: 990px){
    .hidden{
        display: none;
    }
}