.sermon_section_all {
    display: flex;
}

.session_section {
    max-width: 1522px;
    padding: 10px;
    margin: 0 auto;
}

.sermon_snap {
    max-width: 100%;
}

.component_sermon_section {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #eee;
    padding: 0;
    margin: 0 0 2rem;
}

.sermon_info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.sermon_info h3 {
    font-size: 2rem;
}

.sermon_info p {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.sermon_info_modal {
    font-size: 2rem;
    padding: 0;
}

.sermon_info_modal:hover {
    cursor: pointer;
    /* color: rgb(147, 170, 164); */
    text-shadow: 1px 1px 1px #5d5d5d;
}

.pagination_style {
    display: flex;
    justify-content: center;
}

.search_sermon {
    width: 100%;
    background-color: white;
    color: black;
    margin: 0 0 20px 0;
    outline: none;
    text-indent: 10px;
}

iframe {
    width: 835px;
    height: 480px;
}

@media screen and (max-width: 835px) {

    iframe {
        width: 700px;
        height: 480px;
    }
    .component_sermon_section {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem;
    }
    .sermon_info {
        padding: 0;
        text-align: center;
    }
    .sermon_info h3 {
        font-size: 1.5rem;
        padding: 5px;
        margin: 0;
    }
    .sermon_info p {
        font-size: 1rem;
        padding: 5px;
    }
    .sermon_info_modal {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 420px) {

    iframe {
        width: 340px;
        height: 100%;
    }
    
    
}