.service_banner_wrapper {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.service_banner_title {
    padding-top:40px;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    margin: auto;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #000000; 
}

.service_banner_title p {
    margin: 0;
    font-size: 5rem;
}

.service_total {
    display: flex;
    max-width: 1522px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.service_section {
    display: flex;
    margin: 10px;
    background-color: white;
    width: 30%;
    height: 200px;
    background-size: 150px 0em;
    background-position: 100% 200%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}

.service_section:hover {
    transition: background-size .3s .3s, background-position .3s;
    background-size: 150px 150px;
    background-position: right 20px bottom;
}

.sunday_service_background {
    background-image: url('../../../public/service_sunday_worship.png');
}

.ow_background {
    background-image: url('../../../public/service_OW.PNG');
}

.youth_background {
    background-image: url('../../../public/service_youth.PNG');
}

.sunday_school_background {
    background-image: url('../../../public/service_sunday_school.PNG');
}

.wed_service_background {
    background-image: url('../../../public/service_wed_service.PNG');
}

.morning_prayer_background {
    background-image: url('../../../public/service_morning_prayer.PNG');
}

.small_group_background {
    background-image: url('../../../public/service_small_group.PNG');
}

.korean_school_background {
    background-image: url('../../../public/service_korean_school.PNG');
}

.service_section_image_wrapper {
    margin-right: 10px;
}

.service_section_image {
    width: 70px;
}

.service_section_title p {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.service_section_description a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.service_section_description p {
    color: rgb(90, 90, 90);
}

.service_section_title span {
    font-size: 1.1rem;
    color: rgb(90, 90, 90);
}

.service_sub_section {
    display: flex;
    flex-direction: row;
}

.map_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
}

.map_section iframe {
    width: 100%;
    height: 100%; 
}

@media screen and (max-width: 750px) {
    .service_section {
        flex: 1 0 100%;
        max-width: 45%;
    }
}

@media screen and (max-width: 420px) {
    .service_section {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 0 10px;
    }
}